@import "./assets/fonts.css";
@layer utilities {
  .font-condensed {
    font-stretch: 50%;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.scale-y-200 {
  transform: scaleY(2);
  transform-origin: bottom;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: flex;
  animation: marquee 20s linear infinite;
  gap: 8rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-125%);
  }
}

.disable-video-interaction {
  pointer-events: none;
}

.title-shadow {
  text-shadow: 2px 2px 2px black;
}

.gallery img {
  transition: all 0.5s ease;
  border-radius: 5px;
  opacity: 0.7;
  filter: saturate(0);
}

.gallery img:hover {
  opacity: 1;
  transform: scale(1.3);
  z-index: 1;
  filter: saturate(1);
}

.bnw-filter {
  filter: saturate(0);
  transition: all 0.5s ease;
}
.bnw-filter:hover {
  filter: saturate(1.2);
  z-index: 100;
}

@keyframes errorBeat {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60% {
    transform: translateX(10px);
  }

  80% {
    transform: translateX(8px);
  }

  90% {
    transform: translateX(-8px);
  }
}

.error-animation {
  animation: errorBeat 2s ease 0s 1 normal forwards;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

/* above 1600px */
@media (min-width: 1600px) {
  .move {
    margin-top: -3rem;
    margin-left: 2rem;
  }
}

/* between 480px and 640px */
@media (min-width: 490px) and (max-width: 540px) {
  .move {
    margin-top: -3rem;
  }
}

@media (min-width: 540px) and (max-width: 640px) {
  .move {
    margin-top: -6rem;
  }
}
