@import "./assets/fonts.css";
@layer utilities {
  .font-condensed {
    font-stretch: 50%;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}

.scale-y-200 {
  transform: scaleY(2);
  transform-origin: bottom;
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: flex;
  animation: marquee 5s linear infinite;
  gap: 8rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-125%);
  }
}
